@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-text: #31302e;
  --color-heading-primary: #34384d;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

* {
  min-width: 0;
}

body {
  color: var(--color-text);
  min-height: 100dvh;
  font-family:
    var(--ui-font),
    'Helvetica Neue',
    -apple-system,
    BlinkMacSystemFont,
    Helvetica,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Microsoft Yahei',
    sans-serif;
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     rgb(var(--background-end-rgb)) */
  /*   ) */
  /*   rgb(var(--background-start-rgb)); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mb-1;
  text-wrap: balance;
  color: var(--color-heading-primary);
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

p {
  @apply mb-4;
  text-wrap: pretty;
}

pre {
  font-size: 13px;
}
