@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  article :where(h1, h2, h3, h4, h5, h6) {
    @apply flex mt-8 mb-5 font-semibold;
    scroll-margin-top: 5rem;
  }

  a[href] {
    height: max-content;
    @apply px-1 font-light transition-colors duration-150 ease-linear rounded-sm;
  }
}

/* ruby {
  margin-left: 1rem;
} */
